* {
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    /* grid-template-columns: 350px 1fr; */
    grid-template-columns: 28% 72%;

    grid-template-rows: 50px 230px auto;
    /* height: 100vh; */
}
/* nav {
    grid-column: 1 / 3; 
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;align-items: center;
    border-bottom: 1px solid black;

}
nav ul{
    display: flex;
    gap: 20px;
    
}
#navicons{
    padding-right: 15px;
}
#logo{
    padding-left: 15px;
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
}
nav ul li a{
    color: black;
 text-decoration: none;
 font-weight: bold;
} */

/* #user{
    display: flex;
    gap: 10px;
    border: solid black 1px;
   border-radius: 15px;
   padding: 3px;
} */
/* ------------------------------------------------------ */
#header {
   
    grid-column: 1 / 3; 
    display: flex;
     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#header div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  margin-top: 15px;
  border-radius: 20px;
 height: 190px;
    width: 95%;
    background-image: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
    url("../img/download\ \(7\).jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#header div h2{
    color: white;
    padding-left: 25px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* ---------------------end header-------------------------------  */
aside {
    
    grid-column: 1 / 2; 
    margin-left: 20px;
    margin: 0px 10px 0px 35px ;
}
.paddten{
 padding: 10px;
}
.filterarea{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 20px;
    
    flex-wrap: wrap;
}
#icon{
    cursor: pointer;
}
.filtername{
     display: flex;
      flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}
#sort{
 width: 80%;
}
#startyear,#endyear,.moneyfilter{
  width: 35%;
}
#ordertag{
  display: flex;
  justify-content: space-between;
}
.typbtn{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
     padding: 10px;
     width: 45%;
     cursor: pointer;
}
/* .typbtn:hover{
  background-color: black;
  color: white;
} */
.typbtn.active {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.moneyfilter{
  height: 35px;
}
.title p{
    padding-left: 5px;
}
#sort,#startyear,#endyear,.typbtn,.moneyfilter,#brand,#order{
    border: 1px solid gray;
    border-radius: 5px;
}
.line{
  border-bottom: 1px solid gray;
}
.title{
    display: flex;
    margin-top: 15px;
}
#brandsselect{
  display: none;
}

@media(max-width:768px) {
  
  aside {
    display: flex;
    overflow-x: auto;  
  overflow-y: hidden; 
  white-space: nowrap; 
  scroll-behavior: smooth;
    grid-column: 1 / 3; 
    margin-left: 20px;
    margin: 10px  ;
    gap: 15px;
}
.filterarea{
    display: flex;
   
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
      margin-bottom: 10px;
   
   
}
#ordertag{
  display: block;
  
}
.line{
  border-bottom: 0px solid white ;
}
#brandsselect{
  display: block;
}
#brandsbtns{
  display: none;
}

#startyear,#endyear,.moneyfilter,.typbtn{
  width: 100px;
}
.typbtn{
    background-color: white;
    text-align: center;
     padding: 10px;
     cursor: pointer;
     margin-bottom: 0;
     margin-right: 5px;
     
}
.filtername{
  padding: 5px;
}
}
 /* ---------------------end aside-------------------------------  */
main {
 grid-column: 2 / 3; 
  margin-left: 15px;
  width: 95%;
  
}
#searchbar {
  display: flex;
  align-items: center;
  width: 100%;
 margin-top: 10px;
  margin-bottom: 20px;
   /* margin: 10px auto; */
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

#searchbar i {
  padding: 0 5px;
  color: gray;
}

#searchbar input {
  flex: 1; 
  border: none;
  outline: none; 
  padding: 10px;
  font-size: 14px;
}

#searchbar button {
  padding: 11px 15px;
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  border-left: 1px solid gray;
}

#cards{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   /* justify-content: space-between; */
}
.card{
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
.card:hover{
     transform: translateY(-5px);
}
.card img{
 width: 255px;
 height: 180px;
 border-radius: 5px;
 padding-bottom: 10px;
}
.carstatus {
  display: flex;
  gap: 5px; 
  margin: 10px 0;
  color: rgb(89, 88, 88);
}

.carstatus p {
  position: relative;
}

.carstatus p::after {
  content: "-";
  margin-left: 5px;
  color: gray;
}

.carstatus p:last-child::after {
  content: ""; 
}
.carinfo{
  border-bottom: 1px solid black;  
}
.carprice{
    display:flex;
    justify-content: space-between;
    margin: 10px 0 ;
    font-weight: bold;
}

.money{
    color: rgb(19, 101, 19);
   
}
#notfound,#priceerror{
  display: none;
}

@media(max-width:768px) {
  main {
 grid-column: 1 / 3; 
  margin-left: 15px;
  width: 95%;
  
}

#searchbar {
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 20px;
   margin: 5px auto;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
#cards{
 gap: 0px;
   justify-content: center;
   margin-top: 15px;
}
.card img{
 width: 300px;
 height: 200px;

}
}